@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: none;
}

.App{
  display: grid;
  grid-template-columns: 0.2fr auto;
  height: 100vh;
  
}

.Barralateral{
  display: grid;
  grid-template-rows: 0.2fr;
  background-color:white;
  height: 100vh;
  

}
.Logo{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-family: Montserrat;
}

.NavBar{
  display: flex;
  flex-direction: column;
  
  margin-left: 20%;
}

.NavBar ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;

}


.Bookreading{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Conteudo{
  display: grid;
  grid-template-rows: 1fr;
  background-color: white;
  height: 100vh;
 
}

.Estante{
  display: grid;
  border-radius: 30px;
  margin: 30px;
  height: 100vh;
  background-color: #F7eee9;
  box-shadow: 2px 2px 10px #DCD1C8 inset, -2px -2px 10px #DCD1C8 inset;
  height: 90vh;
}
.button{
  
  align-items: center;
  width: 50px;
  border: none;
  background-color: #F7eee9;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.Pratileiras{
  display: grid;
  grid-template-rows: 25% 25% 25%;
  margin-top: 10%;
  margin-left: 10%;
  height: 73vh;
}

.Barsearch{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: 2%;
  margin-left: 30%;
  background-color: white;
  width: 50%;
  height: 75%;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 0px 8px 11px 1px #CECECE;
}
.Search{
  display: flex;
  background-color: #F7eee9;
  border-radius: 10px;
  width: 74%;
}

.imgsearch{
  width: 20px;
}
.input{

  border-radius: 10px;
  width: 90%;
  height: 40px;
  border: none;
  background-color: #F7eee9;
}

.barcategoria{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;

}